.main{
  min-height: 100vh;
}

/* Меняем бэкграунд у приложения при помощи Rect Context*/
 .custom{
  background:'red' !important;
  }

  .bg-dark{
  background:'purple' !important;
  }

/* Product.js */
.productLink{
  text-decoration: none;
  color:rgb(0, 0, 0);
  cursor: pointer;
}

.productLink:hover{
  text-decoration: none;
  color: rgb(20, 20, 179);
}
