
/* Product.js */
.productLink{
  text-decoration: none;
  color:rgb(0, 0, 0);
}

.productLink:hover{
  text-decoration: none;  
  color: rgb(20, 20, 179);
}

.productCard{
cursor: pointer;
width: 20rem;
margin: 10px;
}
